{% extends "app/base.html" %}
{% load static %}

{% block content %}
    <section>
        <div class="carousel">
        <a class="carousel-item" href="#one!"><img src="https://cdn.pixabay.com/photo/2019/12/17/14/07/amaryllis-4701720_960_720.jpg"></a>
        <a class="carousel-item" href="#two!"><img src="https://cdn.pixabay.com/photo/2013/07/21/13/00/rose-165819_960_720.jpg"></a>
        <a class="carousel-item" href="#three!"><img src="https://cdn.pixabay.com/photo/2012/11/21/10/37/flower-66809_960_720.jpg"></a>
        <a class="carousel-item" href="#four!"><img src="https://cdn.pixabay.com/photo/2015/04/19/08/32/marguerite-729510_960_720.jpg"></a>
        <a class="carousel-item" href="#five!"><img src="https://cdn.pixabay.com/photo/2013/04/03/21/25/flower-100263_960_720.jpg"></a>
    </div>
    </section>

{% endblock %}
